body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header img {
  height: 50px; /* Adjust as needed */
}
.header-links a {
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
}
.header-links a:hover {
  background-color: rgb(240, 201, 118);
}
.header-links button {
  background-color: rgb(240, 206, 57);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
}

.Available {
  
}